*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  /* background-color: black; */
}
h1 {
  text-align: center;
}
#parents {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
#controlsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  gap: 30px;
}
/* the buttons class are the children of the controlContainer */
.buttons {
  width: 120px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 0 10px rgb(204, 193, 193);
}
#sketchBoxContainer {
  display: flex;
  flex-flow: row wrap;
  background-color: lightpink;
  box-shadow: 0px 0px 10px rgb(204, 193, 193);
  width: 420px;
  height: 465px;
  border-radius: 10px;
  margin-right: 11vw; /* since buttons and color box have same parent and making it center is making 
  both buttons and box centered which appears box to seem like disalign. maybe there is a better approach to center it */
}
#sketchBoxContainer .colorBoxes {
  flex: auto;
  border-radius: 5px;
  padding: 15px;
  margin: 0.5px 0.5px;
}
